<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}<meta name="description" content="{{ page.description }}" />
  {% else %}<meta name="description" content="A blog by gamehelp16, another random internet user." />{% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link href='https://fonts.googleapis.com/css?family=Oxygen:700,400|Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/styles.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.url }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/atom.xml">
</head>
