// Layout
//
// Styles for managing the structural hierarchy of the site.

.container, .masthead.home-page {
  max-width: 40rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin: 2rem 0;
}

#blog-posts {
	margin-bottom: 4rem;
}

.related #blog-posts, .related .post-desc {
	margin-bottom: 0;
}

#blog-posts .post-date {
	margin-bottom: .15rem;
	margin-top: 2rem;
}

#blog-posts h2 {
	margin-top: 0;
}

#blog-posts h2 a {
	color: #313131;
}

article.post h2 {
	margin-top: 2rem;
}