// Layout
//
// Styles for managing the structural hierarchy of the site.

.container, .masthead.home-page {
  max-width: 40rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin: 2rem 0;
}

#blog-posts {
	margin-bottom: 4rem;
}

#blog-posts .post-date {
	margin-bottom: .15rem;
	margin-top: 2rem;
}

#blog-posts h2 {
	margin-top: 0;
}

#blog-posts h2 a {
	color: #313131;
}

article.post h2 {
	margin-top: 2rem;
}

nav {
	margin-top: 1rem;
	margin-left: 2rem;
}

.back-to-home {
	color: #bbb;
	padding: .5rem 1rem;
	text-align: center;
	text-decoration: none !important;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}

.back-to-home i {
	font-style:normal;
	font-size:1.5rem;
	position:relative;
	top:.1rem;
	margin-right: .3rem;
}

.back-to-home:hover {
	color: #777;
}