<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  
	{% include analytics.html %}
	
	{% if page.title == "Home" %}
      
      <header class="masthead home-page">
        <h1 class="masthead-title">
		  <div id="particles-js"></div>
          <a href="{{ site.url }}/">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h1>
      </header>
	  
	  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	  <script>
		/* ---- particles.js config ---- */

		particlesJS("particles-js", {
		  "particles": {
			"number": {
			  "value": 80,
			  "density": {
				"enable": true,
				"value_area": 800
			  }
			},
			"color": {
			  "value": "#666666"
			},
			"shape": {
			  "type": "circle",
			  "stroke": {
				"width": 0,
				"color": "#000000"
			  },
			  "polygon": {
				"nb_sides": 5
			  },
			  "image": {
				"src": "img/github.svg",
				"width": 100,
				"height": 100
			  }
			},
			"opacity": {
			  "value": 0.35,
			  "random": false,
			  "anim": {
				"enable": false,
				"speed": 1,
				"opacity_min": 0.1,
				"sync": false
			  }
			},
			"size": {
			  "value": 4,
			  "random": true,
			  "anim": {
				"enable": false,
				"speed": 40,
				"size_min": 1,
				"sync": false
			  }
			},
			"line_linked": {
			  "enable": true,
			  "distance": 200,
			  "color": "#000000",
			  "opacity": 0.35,
			  "width": 1
			},
			"move": {
			  "enable": true,
			  "speed": 6,
			  "direction": "none",
			  "random": false,
			  "straight": false,
			  "out_mode": "out",
			  "bounce": false,
			  "attract": {
				"enable": false,
				"rotateX": 600,
				"rotateY": 1200
			  }
			}
		  },
		  "interactivity": {
			"detect_on": "canvas",
			"events": {
			  "onhover": {
				"enable": true,
				"mode": "grab"
			  },
			  "onclick": {
				"enable": true,
				"mode": "push"
			  },
			  "resize": true
			},
			"modes": {
			  "grab": {
				"distance": 140,
				"line_linked": {
				  "opacity": 1
				}
			  },
			  "bubble": {
				"distance": 400,
				"size": 40,
				"duration": 2,
				"opacity": 8,
				"speed": 3
			  },
			  "repulse": {
				"distance": 200,
				"duration": 0.4
			  },
			  "push": {
				"particles_nb": 4
			  },
			  "remove": {
				"particles_nb": 2
			  }
			}
		  },
		  "retina_detect": true
		});
	  </script>
	  
    {% else %}
      
	  <header class="masthead not-home-page">
		<nav>
			<a class="header-link" href="{{ site.url }}/"><i>&lsaquo;</i> BACK</a>
			{% if page.comments %}<a class="header-link num-comments" href="#disqus_thread" data-disqus-identifier="{{ site.disqusid }}{{ page.url | replace:'index.html','' }}">COMMENTS</a>{% endif %}
		</nav>
      </header>
	  
    {% endif %}
	
	<div class="container content">

      <main>
	  
        {{ content }}
		
		{% include comments.html %}
		
      </main>

      <iframe data-aa='198128' src='https://ad.a-ads.com/198128?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden;position:fixed;bottom:-100vh;' allowtransparency='true' frameborder='0'></iframe>

      <footer class="footer">
        <small>
          Made using <a href="http://jekyllrb.com" target="_blank">Jekyll</a> and <a href="http://getpoole.com/" target="_blank">Poole</a>. View &lt;/&gt; on <a href="https://github.com/gamehelp16/gamehelp16.github.io" target="_blank">GitHub</a>. <a href="#">Back to Top &uarr;</a>
        </small>
      </footer>
    </div>

  </body>
</html>
